span {
    font-size: xx-large;
}

div {
    text-align: center;
}

.heading {
    /* margin: 20px auto; */
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    padding: 4px 0;
    margin: 20px 416px;
}


li {
    display: inline;
    padding: 20px;
    cursor: pointer;
    transition: 0.5s;
}

img {
    width: 200px;
    cursor: pointer;
}

body {
    font-family: "Poppins", sans-serif;
}

/* 
body {
    background-image: url("./behang-met-een-piano_8.webp");
} */

.height {
    height: 300px;
}

li:hover {
    transition: 0.4s;
    color: wheat;
    background-color: black;
    border-radius: 20px;
}

.text {
    margin: 10px 400px;
    text-align: center;
}