/* *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
} */
span{
    font-size: xx-large;
}
div{
    text-align: center;
}
hr{
    width: 600px;
}
ul{
    padding: 0;
    margin: 0;
}
li{
    display: inline;
    padding: 20px;
    cursor: pointer;;
}
img{
    width: 200px;
}
body{
    font-family: "Poppins", sans-serif;
}
.bgimage{
    background-image: url();
}
